@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 292 100% 98.4%;
    --foreground: 264 8.5% 11.6%;

    --card: 286.7 47.4% 96.3%;
    --card-foreground: 264 8.5% 11.6%;

    --popover: 292 100% 98.4%;
    --popover-foreground: 260.7 25.7% 44.3%;

    --primary: 260.7 25.7% 44.3%;
    --primary-foreground: 0 0% 100%;

    --secondary: 262.9 10.3% 39.8%;
    --secondary-foreground: 0 0% 100%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 266.7 6.1% 28.8%;

    --accent: 345.3 21.5% 41%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 260 5.5% 21.6%;
    --foreground: 292.5 14.8% 89.4%;

    --card: 264, 8.5%, 11.6%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 260 5.5% 21.6%;
    --popover-foreground: 261.2 94.2% 86.5%;

    --primary: 261.2 94.2% 86.5%;
    --primary-foreground: 261.1 41.5% 25.5%;

    --secondary: 266.4 25.8% 81%;
    --secondary-foreground: 262.1 17.4% 21.4%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 278.2 10.3% 79%;

    --accent: 345.5 67.4% 83.1%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .name {
    @apply bg-gradient-to-r from-primary to-accent bg-clip-text py-10 text-center text-5xl font-extrabold text-transparent dark:from-primary dark:to-accent;
  }
}
